<div class="testimonial-card">
    <div class="testimonial-card-title">SnapWords are so fantastic!</div>
    <p class="testimonial-card-body">My daughter has been struggling with sight words for so long and these just clicked for her. She loves playing with them and writing sentences and acting out the action to go with the word. I've seen a huge improvement on her recall.</p>
    <div class="testimonial-card-author">Teachers Pay Teachers Customer</div>
</div>
<div class="testimonial-card">
    <div class="testimonial-card-title">Yes!! Thank you so much!! I call your SnapWords nothing less than a miracle</div>
    <p class="testimonial-card-body">I recommend them to everyone I know, in every group I belong to!! I can not even explain the immediate difference in word recognition. Within 1 week my daughter can go from not knowing the word, to reading it without pictures. I have all of your products now. Just started adding in the Easy For Me (set 3) Books. And just ordered the Math. I'm praying the math will be just as beneficial!!! Can't wait to try it out next week!! You are truly a blessing to those few of us with visual learners!!</p>
    <div class="testimonial-card-author">Teachers Pay Teachers Customer</div>
</div>
<div class="testimonial-card">
    <div class="testimonial-card-title">MARVELOUS!!!!!</div>
    <p class="testimonial-card-body">We just started using this book last week, and we have had wonderful success so far! My 2nd and 3rd graders actually look forward to math now...which is totally amazing because they have always "hated" math! This is definitely money well spent...especially for kids who are right-brained and/or don't enjoy memorizing math facts! :D</p>
    <div class="testimonial-card-author">Teachers Pay Teachers Customer</div>
</div>
<div class="testimonial-card">
    <div class="testimonial-card-title">Incredible! Awesome!</div>
    <p class="testimonial-card-body">Great tool so far for my special needs children!</p>
    <div class="testimonial-card-author">Teachers Pay Teachers Customer</div>
</div>
<div class="testimonial-card">
    <div class="testimonial-card-title">Thanks for taking the time to make this resource!</div>
    <p class="testimonial-card-body">My daughter has been struggling with sight words for so long and these just clicked for her. She loves playing with them and writing sentences and acting out the action to go with the word. I've seen a huge improvement on her recall.</p>
    <div class="testimonial-card-author">Teachers Pay Teachers Customer</div>
</div>
<div class="testimonial-card">
    <div class="testimonial-card-title">Just wanted you to know I love your [sight word] cards.</div>
    <p class="testimonial-card-body">My daughter has been struggling with sight words for so long and these just clicked for her. She loves playing with them and writing sentences and acting out the action to go with the word. I've seen a huge improvement on her recall.</p>
    <div class="testimonial-card-author">Teachers Pay Teachers Customer</div>
</div>
<div class="testimonial-card">
    <div class="testimonial-card-title">SnapWords are so fantastic!</div>
    <p class="testimonial-card-body">My daughter has been struggling with sight words for so long and these just clicked for her. She loves playing with them and writing sentences and acting out the action to go with the word. I've seen a huge improvement on her recall.</p>
    <div class="testimonial-card-author">Teachers Pay Teachers Customer</div>
</div>
<div class="testimonial-card">
    <div class="testimonial-card-title">Yes!! Thank you so much!! I call your SnapWords nothing less than a miracle</div>
    <p class="testimonial-card-body">I recommend them to everyone I know, in every group I belong to!! I can not even explain the immediate difference in word recognition. Within 1 week my daughter can go from not knowing the word, to reading it without pictures. I have all of your products now. Just started adding in the Easy For Me (set 3) Books. And just ordered the Math. I'm praying the math will be just as beneficial!!! Can't wait to try it out next week!! You are truly a blessing to those few of us with visual learners!!</p>
    <div class="testimonial-card-author">Teachers Pay Teachers Customer</div>
</div>
<div class="testimonial-card">
    <div class="testimonial-card-title">MARVELOUS!!!!!</div>
    <p class="testimonial-card-body">We just started using this book last week, and we have had wonderful success so far! My 2nd and 3rd graders actually look forward to math now...which is totally amazing because they have always "hated" math! This is definitely money well spent...especially for kids who are right-brained and/or don't enjoy memorizing math facts! :D</p>
    <div class="testimonial-card-author">Teachers Pay Teachers Customer</div>
</div>
<div class="testimonial-card">
    <div class="testimonial-card-title">Incredible! Awesome!</div>
    <p class="testimonial-card-body">Great tool so far for my special needs children!</p>
    <div class="testimonial-card-author">Teachers Pay Teachers Customer</div>
</div>
<div class="testimonial-card">
    <div class="testimonial-card-title">Thanks for taking the time to make this resource!</div>
    <p class="testimonial-card-body">My daughter has been struggling with sight words for so long and these just clicked for her. She loves playing with them and writing sentences and acting out the action to go with the word. I've seen a huge improvement on her recall.</p>
    <div class="testimonial-card-author">Teachers Pay Teachers Customer</div>
</div>
<div class="testimonial-card">
    <div class="testimonial-card-title">Just wanted you to know I love your [sight word] cards.</div>
    <p class="testimonial-card-body">My daughter has been struggling with sight words for so long and these just clicked for her. She loves playing with them and writing sentences and acting out the action to go with the word. I've seen a huge improvement on her recall.</p>
    <div class="testimonial-card-author">Teachers Pay Teachers Customer</div>
</div>