<div class="team-card bg-blue-100">
    <div class="team-card-profile" style="background-image:url('/images/example-team-card-image.png')"></div>
    <div class="team-card-name">James Malburg</div>
    <div class="team-card-title">General Manager</div>
    <div class="team-card-bio">
        <p>James joined the Child1st team in the role of General Manager, with oversight of finance, budget, strategic outreach, and other operations. James' background is in Social Work, and he comes to us from a career as a Probation Officer. He provides support to each Child1st team member and enthusiastically empowers our team to reach their goal of helping children across the globe learn to read!</p>
        <p>James holds a BSW from Kuyper College where he studied Social Work and Theology. He is a Michigan native and enjoys spending time with his family exploring new areas of the state. James is the father of two young boys and in his spare time he can be found golfing or spending time with his family.</p>
    </div>
</div>
<div class="team-card bg-orange-100">
    <div class="team-card-profile" style="background-image:url('/images/example-team-card-image.png')"></div>
    <div class="team-card-name">James Malburg</div>
    <div class="team-card-title">General Manager</div>
    <div class="team-card-bio">
        <p>James joined the Child1st team in the role of General Manager, with oversight of finance, budget, strategic outreach, and other operations. James' background is in Social Work, and he comes to us from a career as a Probation Officer. He provides support to each Child1st team member and enthusiastically empowers our team to reach their goal of helping children across the globe learn to read!</p>
        <p>James holds a BSW from Kuyper College where he studied Social Work and Theology. He is a Michigan native and enjoys spending time with his family exploring new areas of the state. James is the father of two young boys and in his spare time he can be found golfing or spending time with his family.</p>
    </div>
</div>
<div class="team-card bg-yellow-100">
    <div class="team-card-profile" style="background-image:url('/images/example-team-card-image.png')"></div>
    <div class="team-card-name">James Malburg</div>
    <div class="team-card-title">General Manager</div>
    <div class="team-card-bio">
        <p>James joined the Child1st team in the role of General Manager, with oversight of finance, budget, strategic outreach, and other operations. James' background is in Social Work, and he comes to us from a career as a Probation Officer. He provides support to each Child1st team member and enthusiastically empowers our team to reach their goal of helping children across the globe learn to read!</p>
        <p>James holds a BSW from Kuyper College where he studied Social Work and Theology. He is a Michigan native and enjoys spending time with his family exploring new areas of the state. James is the father of two young boys and in his spare time he can be found golfing or spending time with his family.</p>
    </div>
</div>
<div class="team-card bg-purple-100">
    <div class="team-card-profile" style="background-image:url('/images/example-team-card-image.png')"></div>
    <div class="team-card-name">James Malburg</div>
    <div class="team-card-title">General Manager</div>
    <div class="team-card-bio">
        <p>James joined the Child1st team in the role of General Manager, with oversight of finance, budget, strategic outreach, and other operations. James' background is in Social Work, and he comes to us from a career as a Probation Officer. He provides support to each Child1st team member and enthusiastically empowers our team to reach their goal of helping children across the globe learn to read!</p>
        <p>James holds a BSW from Kuyper College where he studied Social Work and Theology. He is a Michigan native and enjoys spending time with his family exploring new areas of the state. James is the father of two young boys and in his spare time he can be found golfing or spending time with his family.</p>
    </div>
</div>