{% set tableColumnCount = field.tableLayout|length %}

{{ field.render({
    instructionsBelowField: true,
    addButtonLabel: "Add +",
    removeButtonLabel: '<span class="sr-only">Remove Row</span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.1471 18.3525C19.2024 18.404 19.2467 18.4661 19.2775 18.5351C19.3082 18.6041 19.3248 18.6786 19.3261 18.7541C19.3274 18.8296 19.3135 18.9047 19.2852 18.9747C19.2569 19.0447 19.2148 19.1084 19.1614 19.1618C19.108 19.2152 19.0444 19.2573 18.9743 19.2856C18.9043 19.3139 18.8293 19.3278 18.7537 19.3264C18.6782 19.3251 18.6037 19.3086 18.5347 19.2778C18.4657 19.2471 18.4036 19.2028 18.3521 19.1475L11.9996 12.7959L5.64714 19.1475C5.54051 19.2469 5.39947 19.301 5.25375 19.2984C5.10802 19.2958 4.96898 19.2368 4.86592 19.1337C4.76286 19.0307 4.70383 18.8916 4.70126 18.7459C4.69869 18.6002 4.75278 18.4591 4.85214 18.3525L11.2037 12L4.85214 5.64751C4.75278 5.54088 4.69869 5.39984 4.70126 5.25411C4.70383 5.10839 4.76286 4.96935 4.86592 4.86629C4.96898 4.76323 5.10802 4.7042 5.25375 4.70163C5.39947 4.69905 5.54051 4.75315 5.64714 4.85251L11.9996 11.2041L18.3521 4.85251C18.4588 4.75315 18.5998 4.69905 18.7455 4.70163C18.8913 4.7042 19.0303 4.76323 19.1334 4.86629C19.2364 4.96935 19.2954 5.10839 19.298 5.25411C19.3006 5.39984 19.2465 5.54088 19.1471 5.64751L12.7956 12L19.1471 18.3525Z" fill="white"/></svg>',
    tableAttributes: {
        table: { class: "table w-full" },
        row: { class: "table-row relative" },
        column: { class: [
            tableColumnCount in [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] ? "w-1/" ~ tableColumnCount,
            tableColumnCount == 1 ? "w-full",
            "table-col pb-1"
        ] },
        label: { class: [
            "input-label"
        ] },
        input: { class: [ field.attributes.input.get("class"), "mr-5 w-11/12 block" ] },
        dropdown: { class: [ field.attributes.input.get("class"), "mr-5 w-11/12 block" ] },
        checkbox: { class: [ field.attributes.input.get("class"), "mr-5" ] },
        removeButton: { class: "flex ml-auto bg-orange-400 text-white font-normal p-2 rounded ml-2" },
        addButton: { class: "transition-colors duration-200 bg-blue-700 hover:bg-blue-900 text-white font-medium rounded-full py-2 px-4 mt-4" },
    },
}) }}